@import url('https://fonts.googleapis.com/css?family=Chewy&display=swap');

.cards{
    width: 20rem;
}

.cards:hover{
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}

.cards-body{
    font-family: "Chewy", cursive;
    padding: 1rem 0 !important;
}

.cards-text{
    font-family: "Chewy", cursive;
    font-size: 0.9rem;
    padding: 0.4rem 1.9rem;
}

.container-fluid.row{
    padding-top: 1rem;
}

.overflow{
    overflow:hidden;
}

.cards-img-bot{
    transform: scale(1);
    transition: transform 0.5s ease;
}

.cards-img-bot:hover{
    transform: scale(1.8);
}