{% extends 'base.html' %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<!--<div class="jumbotron">-->
<!--    <div class="container">-->
<!--      <h1 class="display-3">Current Projects</h1>-->
<!--    </div>-->
<!--</div>&lt;!&ndash; /.jumbotron &ndash;&gt;-->

<div class="posts-container">
    <div class="project-post">
      <div class="row">
        <div class="col-lg-4">
            <div class="post-text-container">
                <h2><a href="/projects/specific-project">Example Project</a></h2>
            </div>
            <div class="post-img-container">
            </div>
        </div>
      </div><!-- /.row -->
    </div>
</div>
{% endblock %}