{% extends 'base.html' %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Project 1</h1>
    </div>
</div><!-- /.jumbotron -->

<div class="posts-container">
    <div class="row">
        <div class="row-lg-4">
            <div class="post-text-container">
<!--          <h2><i class="fa fa-code"></i> Observation</h2>-->
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <p><a class="btn btn-outline-secondary" href="/observations">Observations List &raquo;</a></p>
              <p><a class="btn btn-outline-secondary" href="/observations/new">Add an Observation &raquo;</a></p>
              <p><a class="btn btn-outline-secondary" href="/projects/visualization">Data Visualization &raquo;</a></p>
            </div>
        <div class="post-img-container"></div>
        </div>
     </div><!-- /.row -->
</div>
{% endblock %}